<!-- Esconde o botao de Aplicar --> 
<script type="text/javascript">
	$(function(){
		hidden_button();
	});
	function hidden_button() {
    // $("#settings").find("input[type=submit]").css("display", "none");
	}
</script>
<!-- fim -->

<h3>Listagem e Adição</h3>
<table>
	<tr>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<tr>
		<td>
		<div class="icon icon-folder">
			<%= link_to  l(:list_notes_templates), :action => "index" , :controller => "issue_templates_notes" %> |
		</div></td>
		<td>
		<div class="icon icon-add">
			<%= link_to l(:add_note_templates), :action => "new" , :controller => "issue_templates_notes" %>
		</div>
		</td>
	</tr>
</table>
<br/>
	<h3>Permissão de acesso</h3>
	<table class="list groups">
	  <thead><tr>
		<th>Usuário</th>
		<th>Permitir</th>
		<th></th>
	  </tr>
	  </thead>
	  <tbody>
	  <%= form_for :user_auth do |f| %>
		  <% User.where("firstname != ''",4).each do |user|%>
			  <tr id="group-2" class="odd builtin">
				<td><%= user.firstname %></td>
				<% check_box_tag 'settings_user_auth[]', user.id, false, :id => user.id %>
				<td><%= f.check_box(:user_auth,{:multiple => true},user.id) %></td>
			  </tr>
		  <% end %>
	  <% end %>
	  </tbody>
	</table>
